.container {
    margin: 2px;
    padding: 5px;
    background-color: rgb(199, 234, 234);
    border: 2px solid black;
    display: inline-block;
   
}

.top, .middle, .info {
    background-color: aliceblue;
    padding: 2px;
    margin: 2px;
    text-align: center;
    flex: 1 1 100%; /* Default to full width */
}

.middle {
    display: flex;
    flex-wrap: wrap;
}

#subButton {
    color: antiquewhite;
    background-color: blue;
    border: none;
    border-radius: 5px;
    padding: 8px;
    width: 100%;
    font-weight: bold;
}

@media screen and (min-width: 481px) {
    .top, .middle, .info {
        flex: 1; 
    }
}