 /* The fr unit is a fractional unit, an input that automatically calculates layout divisions when adjusting for gaps inside the grid. */
.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 500px;
    height: 250px;
    border: 2px solid black;
    
}
.box {
    border: 1px solid black;
    
}
.box1 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    
}
.box2 {
    display: grid;
    grid-template-rows: 1fr 1fr;
}