.container {
  height: 690px;
  background-image: url("Headlines.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 10px 20px;
}

#scroll-container {
  background-color: rgb(245, 162, 84);
  border: 3px solid rgb(249, 96, 7);
  padding: 4px;
  margin-top: 510px;
  margin-left: 220px;
  /* width:"64%"; direction:"right" ;height:"40px"; */
  text-align: center;
  justify-content: center;
}